<section class="home about">
    <div class="container">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <h1 style="margin-top: 40px;">Die Informationsfabrik</h1>
                <hr
                    style="width:20%;text-align:left;margin-left:0; height: 2.5px;color: #e30000; position: relative; left: -50px; background-color: #e30000;">
                <p>Wir ermöglichen Unternehmen, die ungeahnten Potenziale ihrer Daten freizusetzen.
                    Durch die Verbindung von künstlicher und menschlicher Intelligenz entwickeln wir innovative
                    Analytics Lösungen, die unsere Kunden erfolgreicher machen.
                </p>
                <p>Ob Data Platforms, Analytics Solutions oder Artificial Intelligence: Über alle Geschäftsfelder hinweg
                    stehen wir Ihnen beratend zur Seite. Wir entwickeln auf Ihre Wünsche abgestimmte Lösungen und bieten
                    Ihnen mit unseren Workshops als auch Seminaren einen wertvollen Know-How Transfer.</p>

                <ul>
                    <li>ENTDECKUNG NUTZEN-STIFTENDER USE CASES</li>
                    <li>UMSETZUNG PASSGENAUER DATA-ANALYTICS-LÖSUNGEN</li>
                    <li>SCHULUNG IHRER MITARBEITER</li>
                </ul>


                <p><a target="_blank" rel="noopener noreferrer" href="https://www.informationsfabrik.com">
                        <button class="btn btn-primary" style="margin-top: 20px;">
                            Mehr auf informationsfabrik.com
                        </button>
                    </a></p>

                <h1 style=" margin-top: 40px;">Der Sommertest am Hauptbahnhof Münster</h1>
                <hr style="width:20%;text-align:left;margin-left:0; height: 2.5px;color: #e30000; position: relative; left: -50px; background-color: #e30000;">
                <h3>Innovationen entdecken und ausprobieren</h3>
                <p>Von Juli bis September können Münsteraner, Reisende oder ganz einfach Interessierte, spannende
                    Entwicklungen rund um das Reisen der Zukunft entdecken. Denn diesen Sommer steht der Hauptbahnhof
                    Münster ganz im Zeichen von neuer Mobilität! Von Ideen zu bequemerer Anschlussmobilität bis zum
                    lokalen Popup Store könnt Ihr vor Ort diverse Projekte kennenlernen. Im Münsterhack Ende September
                    trifft sich die Tech-Szene dann, um live die Köpfe zusammenzustecken und Münster mit noch mehr neuen
                    Ideen innovativer und lebenswerter zu machen – und wer weiß, vielleicht ist Deine sogar auch dabei!
                </p>
                <p>Die Sommertests sind Teil der Aktivitäten am Zukunftsbahnhof Münster. Hier erproben wir im und am
                    Hauptbahnhof Münster neue (digitale) Services mit verschiedenen Partnern, um rund um den Bahnhof
                    neue Mobilitätsangebote zu entwickeln.</p>

                <p><a target="_blank" rel="noopener noreferrer" href="https://gobeta.de/projekte/neue-angebote-am-hauptbahnhof-muenster-ausprobieren-im-sommer-2020/">
                    <button class="btn btn-primary" style="margin-top: 20px;">
                        Mehr auf gobeta.de
                    </button>
                </a></p>

                <h1 style="margin-top: 40px;">PYBOSSA</h1>
                <hr style="width:20%;text-align:left;margin-left:0; height: 2.5px;color: #e30000; position: relative; left: -50px; background-color: #e30000;">
                <p>{{_("PYBOSSA ist das ultimative Crowdsourcing-Framework zur Analyse oder Anreicherung von Daten die von Maschinen allein nicht verarbeitet werden können.")}}
                </p>
                <p>
                    {{ _('PYBOSSA ist eine kostenlose, quelloffene Crowdsourcing- und Microtasking-Plattform, die von <a href="http://scifabric.com">Scifabric</a> enwickelt wird. Sie ermöglicht es Menschen, Projekte zu erstellen und durchzuführen, welche die menschliche Kognition erfordern, wie z.B. Bildklassifizierung, Transkription, Geokodierung und mehr. PYBOSSA ist dazu da, Forschern, Civic Hackern und Entwicklern zu helfen, Projekte zu schaffen, zu denen jeder auf der ganzen Welt mit etwas Zeit, Interesse und einer Internetverbindung beitragen kann.') }}
                </p>

                <p>
                    {{ _('PYBOSSA unterscheidet sich von bestehenden Projekten:') }}
                <ul>
                    <li>{{ _("Es ist 100%% open-source") }}</li>
                    <li>{{ _('Im Gegensatz zu beispielsweise Projekten im Stil von "Mechanical Turk" ist PYBOSSA nicht darauf ausgelegt, bezahlte Arbeitspakete zu verwalten - es ist darauf ausgelegt, von Freiwilligen betriebene Projekte zu unterstützen.') }}
                    </li>
                    <li>{{ _("Es ist als Plattform und Framework für die Entwicklung von Crowd-Sourcing- und Microtasking-Projekten konzipiert, statt selbst ein Crowd-Sourcing-Projekt zu sein. Einzelne Crowd-Sourcing-Projekte werden als einfache Schnipsel aus Javascript und HTML geschrieben, die dann auf einer PYBOSSA-Instanz bereitgestellt werden (z.B.") }}
                        <a href="http://crowdcrafting.org">CrowdCrafting.org</a>).
                        {{ _('Auf diese Weise kann man leicht benutzerdefinierte Projekte entwickeln und gleichzeitig die PYBOSSA-Plattform zur Speicherung der Daten, zur Verwaltung der Benutzer und zur Abwicklung des Arbeitsablaufs nutzen.') }}.
                    </li>
                </ul>

                <p>
                    {{ _('Erfahre mehr über die Architektur unter') }} <a target="_blank" rel="noopener noreferrer"
                        href="http://docs.pybossa.com/">{{ _('PYBOSSA Documentation') }}</a> {{ _('und folge dem ') }}
                    <a target="_blank" rel="noopener noreferrer"
                        href="http://docs.pybossa.com/user/tutorial/">{{ _('Schritt-für-Schritt Tutorial, um deine eigenen Projekte zu starten.') }}</a>.
                </p>
            </div>
        </div>
    </div>
</section>